﻿<head>
    <style>
        body {
            text-align: center;
            background-color: lightblue;
        }

        #colorTurn {
            font-size: 18px;
        }

        #grid {
            margin: 20px auto;
            display: table;
            width: 415px;
            height: 360px;
            padding: 10px;
            background: darkblue;
            border: 1px solid black;
            border-radius: 5px;
            border-spacing: 5px 5px;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            background-color: lightblue;
            width: 50px;
            height: 50px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin: 2px;
        }
    </style>
</head>
<body>
    <div id="colorTurn">It's Yellow Turn!</div>
    <div id="grid">
        <div class="row">
            <div class="cell" id="cell00" onclick="selectColumn(0)"></div>
            <div class="cell" id="cell01" onclick="selectColumn(1)"></div>
            <div class="cell" id="cell02" onclick="selectColumn(2)"></div>
            <div class="cell" id="cell03" onclick="selectColumn(3)"></div>
            <div class="cell" id="cell04" onclick="selectColumn(4)"></div>
            <div class="cell" id="cell05" onclick="selectColumn(5)"></div>
            <div class="cell" id="cell06" onclick="selectColumn(6)"></div>
        </div>
        <div class="row">
            <div class="cell" id="cell10" onclick="selectColumn(0)"></div>
            <div class="cell" id="cell11" onclick="selectColumn(1)"></div>
            <div class="cell" id="cell12" onclick="selectColumn(2)"></div>
            <div class="cell" id="cell13" onclick="selectColumn(3)"></div>
            <div class="cell" id="cell14" onclick="selectColumn(4)"></div>
            <div class="cell" id="cell15" onclick="selectColumn(5)"></div>
            <div class="cell" id="cell16" onclick="selectColumn(6)"></div>
        </div>
        <div class="row">
            <div class="cell" id="cell20" onclick="selectColumn(0)"></div>
            <div class="cell" id="cell21" onclick="selectColumn(1)"></div>
            <div class="cell" id="cell22" onclick="selectColumn(2)"></div>
            <div class="cell" id="cell23" onclick="selectColumn(3)"></div>
            <div class="cell" id="cell24" onclick="selectColumn(4)"></div>
            <div class="cell" id="cell25" onclick="selectColumn(5)"></div>
            <div class="cell" id="cell26" onclick="selectColumn(6)"></div>
        </div>
        <div class="row">
            <div class="cell" id="cell30" onclick="selectColumn(0)"></div>
            <div class="cell" id="cell31" onclick="selectColumn(1)"></div>
            <div class="cell" id="cell32" onclick="selectColumn(2)"></div>
            <div class="cell" id="cell33" onclick="selectColumn(3)"></div>
            <div class="cell" id="cell34" onclick="selectColumn(4)"></div>
            <div class="cell" id="cell35" onclick="selectColumn(5)"></div>
            <div class="cell" id="cell36" onclick="selectColumn(6)"></div>
        </div>
        <div class="row">
            <div class="cell" id="cell40" onclick="selectColumn(0)"></div>
            <div class="cell" id="cell41" onclick="selectColumn(1)"></div>
            <div class="cell" id="cell42" onclick="selectColumn(2)"></div>
            <div class="cell" id="cell43" onclick="selectColumn(3)"></div>
            <div class="cell" id="cell44" onclick="selectColumn(4)"></div>
            <div class="cell" id="cell45" onclick="selectColumn(5)"></div>
            <div class="cell" id="cell46" onclick="selectColumn(6)"></div>
        </div>
        <div class="row">
            <div class="cell" id="cell50" onclick="selectColumn(0)"></div>
            <div class="cell" id="cell51" onclick="selectColumn(1)"></div>
            <div class="cell" id="cell52" onclick="selectColumn(2)"></div>
            <div class="cell" id="cell53" onclick="selectColumn(3)"></div>
            <div class="cell" id="cell54" onclick="selectColumn(4)"></div>
            <div class="cell" id="cell55" onclick="selectColumn(5)"></div>
            <div class="cell" id="cell56" onclick="selectColumn(6)"></div>
        </div>
    </div>

    <input id="resetButton" type="button" value="Reset" onclick="resetGrid()" />

    <script>var player = 1; //1 for Yellow, 2 for Red

        var grid = [
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0]
        ];

        function selectColumn(col) {

            findEmptyCell(col);

            checkForWin(player);

            console.log(grid);
        }

        function findEmptyCell(col) {
            row = 5;

            while (grid[row][col]) {
                row--;
            }

            grid[row][col] = player

            if (player == 1) {
                grid[row][col] = 1;
                player = 2;
                document.getElementById("colorTurn").innerHTML = "It's Red Turn!";
            }
            else {
                grid[row][col] = 2;
                player = 1;
                document.getElementById("colorTurn").innerHTML = "It's Yellow Turn!";
            }

            refreshGrid()

        }

        function checkForWin(player) {

            for (row = 0; row < 6; row++) {
                for (col = 0; col < 7; col++) {
                    if (player == grid[row][col] &&
                        player == grid[row][col + 1] &&
                        player == grid[row][col + 2] &&
                        player == grid[row][col + 3]) {
                        if (player == 1) {
                            alert("Yellow Horizontal Win!");
                            resetGrid();
                        }
                        else {
                            alert("Red Horizontal Win!");
                            resetGrid();
                        }
                    }
                }
            }

            for (row = 0; row < 6; row++) {
                for (col = 0; col < 7; col++) {
                    if (player == grid[row][col] &&
                        player == grid[row + 1][col] &&
                        player == grid[row + 2][col] &&
                        player == grid[row + 3][col]) {
                        if (player == 1) {
                            alert("Yellow Vertical Win!");
                            resetGrid();
                        }
                        else {
                            alert("Red Vertical Win!");
                            resetGrid();
                        }
                    }
                }
            }

            for (row = 0; row < 6; row++) {
                for (col = 0; col < 7; col++) {
                    if (player == grid[row][col] &&
                        player == grid[row + 1][col + 1] &&
                        player == grid[row + 2][col + 2] &&
                        player == grid[row + 3][col + 3]) {
                        if (player == 1) {
                            alert("Yellow Diagonal \ Win!");
                            resetGrid();
                        }
                        else {
                            alert("Red Diagonal \ Win!");
                            resetGrid();
                        }

                    }
                }
            }

            //for (row = 0; row < 6; row++) {
            //    for (col = 0; col < 7; col++) {
            //        if (player == grid[row][col] &&
            //            player == grid[row - 1][col - 1] &&
            //            player == grid[row - 2][col - 2] &&
            //            player == grid[row - 3][col - 3]) {
            //            if (player == 1) {
            //                alert("Yellow Diagonal / Win!")
            //            }
            //            else {
            //                alert("Red Diagonal / Win!")
            //            }
            //        }
            //        else {
            //            console.log("grid[row][col]: " + grid[row][col])
            //        }
            //    }
            //}



            //player


            //check for a win
            //check if there are four possibilites
            //count 1 count 2 >= 4
            //grid[row][col] = grid [row+1][col]
            //grid[row][col] = grid [row][col+1]
            //grid[row][col] = grid [row+1][col+1]
            //grid[row][col] = grid [row-1][col-1]

            //NO SORT

            //across
            //top to bottom
            //dianlognal left to right
            //diagonal right to left
            //annouce winner
        }

        function refreshGrid() {
            for (var row = 0; row < 6; row++) {
                for (var col = 0; col < 7; col++) {
                    if (grid[row][col] == 0) {
                        document.getElementById("cell" + row + col).style.backgroundColor = "lightblue";
                    }
                    else if (grid[row][col] == 1) {
                        document.getElementById("cell" + row + col).style.backgroundColor = "yellow";

                    }
                    else if (grid[row][col] == 2) {
                        document.getElementById("cell" + row + col).style.backgroundColor = "red";
                    }

                }
            }
        }

        function resetGrid() {
            for (var row = 0; row < 6; row++) {
                for (var col = 0; col < 7; col++) {
                    if (grid[row][col] != 0) {
                        grid[row][col] = 0;
                        document.getElementById("cell" + row + col).style.backgroundColor = "lightblue";
                    }
                }
            }
            console.log(grid);
        }</script>
</body>


<!--
    http://math.chapman.edu/~jipsen/js/

    function totalVictory(){
    //Vertical Victory
    for(row=0;row<3;row++){
        for(col=0;col<7;col++){
            writeln(
                grid[row][col].toString() + " " +
                grid[row + 1][col].toString() + " " +
                grid[row + 2][col].toString() + " " +
                grid[row + 3][col].toString()
            );
        }
    }
    // Horizontal Victory
    for(row=0;row<6;row++){
        for(col=0;col<4;col++){
            writeln(
                grid[row][col].toString() + " " +
                grid[row][col + 1].toString() + " " +
                grid[row][col + 2].toString() + " " +
                grid[row][col + 3].toString()
            );
        }
    }
    // Diagonal \
    for(row=0;row<3;row++){
        for(col=0;col<4;col++){
            writeln(
                grid[row][col].toString() + " " +
                grid[row + 1][col + 1].toString() + " " +
                grid[row + 2][col + 2].toString() + " " +
                grid[row + 3][col + 3].toString()
            );
        }
    }
    // Diagonal /
    for(row=5;row>2;row--){
        for(col=6;col>3;col--){
            writeln(
                grid[row][col].toString() + " " +
                grid[row - 1][col - 1].toString() + " " +
                grid[row - 2][col - 2].toString() + " " +
                grid[row - 3][col - 3].toString()
            );
        }
    }
}

0,0 1,0 2,0 3,0
0,1 1,1 2,1 3,1
0,2 1,2 2,2 3,2
0,3 1,3 2,3 3,3
0,4 1,4 2,4 3,4
0,5 1,5 2,5 3,5
0,6 1,6 2,6 3,6
1,0 2,0 3,0 4,0
1,1 2,1 3,1 4,1
1,2 2,2 3,2 4,2
1,3 2,3 3,3 4,3
1,4 2,4 3,4 4,4
1,5 2,5 3,5 4,5
1,6 2,6 3,6 4,6
2,0 3,0 4,0 5,0
2,1 3,1 4,1 5,1
2,2 3,2 4,2 5,2
2,3 3,3 4,3 5,3
2,4 3,4 4,4 5,4
2,5 3,5 4,5 5,5
2,6 3,6 4,6 5,6
0,0 0,1 0,2 0,3
0,1 0,2 0,3 0,4
0,2 0,3 0,4 0,5
0,3 0,4 0,5 0,6
1,0 1,1 1,2 1,3
1,1 1,2 1,3 1,4
1,2 1,3 1,4 1,5
1,3 1,4 1,5 1,6
2,0 2,1 2,2 2,3
2,1 2,2 2,3 2,4
2,2 2,3 2,4 2,5
2,3 2,4 2,5 2,6
3,0 3,1 3,2 3,3
3,1 3,2 3,3 3,4
3,2 3,3 3,4 3,5
3,3 3,4 3,5 3,6
4,0 4,1 4,2 4,3
4,1 4,2 4,3 4,4
4,2 4,3 4,4 4,5
4,3 4,4 4,5 4,6
5,0 5,1 5,2 5,3
5,1 5,2 5,3 5,4
5,2 5,3 5,4 5,5
5,3 5,4 5,5 5,6
0,0 1,1 2,2 3,3
0,1 1,2 2,3 3,4
0,2 1,3 2,4 3,5
0,3 1,4 2,5 3,6
1,0 2,1 3,2 4,3
1,1 2,2 3,3 4,4
1,2 2,3 3,4 4,5
1,3 2,4 3,5 4,6
2,0 3,1 4,2 5,3
2,1 3,2 4,3 5,4
2,2 3,3 4,4 5,5
2,3 3,4 4,5 5,6
5,6 4,5 3,4 2,3
5,5 4,4 3,3 2,2
5,4 4,3 3,2 2,1
4,6 3,5 2,4 1,3
4,5 3,4 2,3 1,2
4,4 3,3 2,2 1,1
3,6 2,5 1,4 0,3
3,5 2,4 1,3 0,2
3,4 2,3 1,2 0,1

-->
